node_modules/
__pycache__/
*.pyc
.DS_Store
env.config
env.config.test
.env
.env.test
test.db
test.db-journal
.pytest_cache
.coverage
dist
*.xml
coverage
credentials
osrm-data
__mocks__
downloads
cuadrillaId.json
screenshots