[run]
source = src
omit =
    src/__init__.py
    src/init_admin.py
    src/main.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[xml]
output = coverage.xml