fastapi==0.115.0
uvicorn==0.32.0
sqlalchemy==2.0.35
psycopg==3.2.1
google-auth==2.35.0
google-api-python-client==2.149.0
pytest==8.3.3
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
pydantic[email]==2.9.2