/* src/styles/custom.css */
.custom-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
  }
  
  .custom-option span {
    flex-grow: 1;
  }
  
  .custom-option button {
    margin-left: 10px;
    font-size: 0.8rem;
    padding: 2px 6px;
    line-height: 1;
  }
  
  .custom-select option {
    padding: 8px;
  }