/* Contenedor de los botones */
  .button-obras-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 2rem; /* Espacio moderado arriba */
    width: 100%;
    padding: 0 0.5rem;
  }
  
.back-button-wrapper {
  position: absolute;
  top: 100px; /* ajustá si tu navbar ocupa más o menos */
  left: 40px;
  z-index: 1000;
}

  /* Estilo de los botones */
  .obras-button {
    width: 100%;
    max-width: 16rem;
    aspect-ratio: 1;
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
  
  /* Efecto hover */
  .obras-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #e1a900;
  }
  
  /* Estilo de los íconos */
  .obras-button svg {
    width: 4.5rem;
    height: 4.5rem;
    stroke: white;
  }
  
  /* Pantallas grandes (PC) */
  @media (min-width: 768px) {
    .button-obras-container {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1rem;
      margin-top: 7rem; /* Espacio moderado en pantallas grandes */
      margin-bottom: 1rem; /* Más espacio abajo en pantallas grandes */
      padding: 0 1rem;
      max-width: 70rem; /* Ajustado para que quepan 3 botones por fila (16rem * 3 + 1rem * 2) */
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      padding-top: 6rem;
      padding-bottom: 4rem;
    }
  
    .obras-button {
      font-size: 1.5rem;
    }
  
    .obras-button svg {
      width: 4.5rem;
      height: 4.5rem;
    }
  }
  
  /* Ajustes para pantallas pequeñas (móviles) */
  @media (max-width: 767px) {
    .button-obras-container {
      flex-direction: column;
      gap: 1rem;
      margin-top: 9rem;
      margin-bottom: 8rem; 
      padding: 0 2rem;
    }

      .back-button-wrapper {
      margin-left: -1rem;
    }

    .obras-button {
      max-width: 100%;
      font-size: 1.7rem;
      padding: 1rem;
    }
  
    .obras-button svg {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
  
  /* Ajustes para pantallas muy pequeñas */
  @media (max-width: 400px) {
    .obras-button {
      font-size: 1.6rem;
      padding: 0.8rem;
    }
  
    .obras-button svg {
      width: 3rem;
      height: 3rem;
    }
  }