/* Estilo para el navbar */
.custom-navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1050;
}

/* Estilo para la marca del navbar (logo) */
.custom-navbar-brand {
  margin-left: 1rem;
}

/* Estilo para la imagen del logo */
.custom-logo {
  object-fit: contain;
}

/* Estilo para los enlaces del nav */
.custom-nav-links {
  gap: 2rem;
  margin-left: 2rem;
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-counter {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #ffc107; 
  color: #000;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
  min-width: 18px;
  text-align: center;
}

.mark-read-btn {
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 6px 14px;
  font-size: 14px;
}

@media (max-width: 991px) {
  .custom-nav-links {
    display: none !important;
  }

  .icon-container {
    margin-left: auto;
  }

  .custom-navbar {
  position: fixed !important;
  }

}

 /* Pantallas grandes (PC) */
  @media (min-width: 768px) {
  .custom-nav-links {
    display: none !important;
  }

  .icon-container {
    margin-left: auto;
  }

  .custom-navbar {
  position: fixed !important;
  }
}
  
  /* Ajustes para pantallas pequeñas (móviles) */
  @media (max-width: 767px) {
  .custom-nav-links {
    display: none !important;
  }

  .icon-container {
    margin-left: auto;
  }

  .custom-navbar {
  position: fixed !important;
  }
}
  
  /* Ajustes para pantallas muy pequeñas */
  @media (max-width: 400px) {
  .custom-nav-links {
    display: none !important;
  }

  .icon-container {
    margin-left: auto;
  }

  .custom-navbar {
  position: fixed !important;
  }
}