DATABASE_URL=postgresql://user:password@localhost:5432/dbname
FRONTEND_URL=http://localhost:5173
FIREBASE_CREDENTIALS=./credentials/firebase_credentials.json
EMAIL_ADMIN=your_email_admin
NOMBRE_ADMIN=your_name_admin
PASSWORD_ADMIN=your_password_admin
GOOGLE_CREDENTIALS=./credentials/google_cloud_credentials.json
GOOGLE_CLOUD_BUCKET_NAME=your_googleclud_bucketname
GOOGLE_SHEETS_CREDENTIALS=./credentials/google_sheets_credentials.json
GOOGLE_SHEET_ID=your_google_sheet_id