.ruta-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.ruta-main {
  flex: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container-ruta {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.ruta-map {
  height: 100%;
  width: 100%;
}

