.map-sidebar-left {
  width: 280px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 30rem;
}

.map-sidebar-rigth {
  width: 280px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 30rem;
}

.hidden-routing-control {
  display: none !important;
}
